@import "tailwindcss";

body {
  font-family: var(--font-open-sans), sans-serif;
  margin: 0;
  padding: 0;
}

.lato-text {
  font-family: var(--font-lato), sans-serif;
}
.bayon-text {
  font-family: var(--font-bayon), sans-serif;
}
